@font-face {
	font-family: adlibitum;
	src: url('cool_font.ttf');
}

body {
    background-color: #4400FF;
    height: 100vh;
    position: relative;
}

body .container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    padding: 10px;

}

body .container .title {
    color: #FFFFFF;
    text-align: center;
}

body .container .info {
    color: #FFFFFF;
    text-align: center;
}

body .container .call {
    color: #FDDD00;
    text-align: center;
}

body .container .specifics {
    color: #FFFFFF;
    text-align: center;
}

body .container .submit {
    color: #FDDD00;
    text-align: center;
}
