@font-face {
	font-family: adlibitum;
	src: url('atributes/adlibitum.bold.ttf');
}

@font-face {
	font-family: mono;
	src: url('atributes/A2 Record Gothic Mono.otf');
}

	h1 {
		 font-family: adlibitum;
		 -webkit-font-smoothing: antialiased;
	}

	h1 {
    font-weight: normal;
	}

	html, body {
	  overflow: hidden;
	}

	p {
		font-family: mono;
		color: #FFFFFF;
		margin-bottom: 15px;
		-webkit-font-smoothing: antialiased;
	}


	body {
    background-image: linear-gradient(#F90000, #B6D515);
    background-attachment:fixed;
    color: #4400ff;
	  height: 75vh;
	  position: relative;
		margin-bottom: 10px;
	}

	body .container {
	  position: absolute;
		width: 700px;
	  top: 40%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  padding: 10px;
	}

	body .container .title #union{
	  color: #FDDD00;
	  text-align: center;
		font-size:  100px;
		padding-bottom: 0px;
		font-weight: 100;
	}

	body .container .p1 {
		font-size: 35px;
		padding-top: 40px;
		margin-top: -130px;
		margin-bottom: 40px;
		position: relative;
	  color: #FFFFFF;
	  text-align: center;
	}

	#footer > div.row {
     margin-bottom: 0px;
  }
